#app {
  min-height: 100vh;
}
main {
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}